@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
@import "tailwindcss";

:root {
  color-scheme: dark;
}

@theme {
  --color-color-1: #ac6aff;
  --color-color-2: #ffc876;
  --color-color-3: #ff776f;
  --color-color-4: #7adb78;
  --color-color-5: #858dff;
  --color-color-6: #ff98e2;
  --color-stroke-1: #26242c;
  --color-n-1: #ffffff;
  --color-n-2: #cac6dd;
  --color-n-3: #ada8c3;
  --color-n-4: #757185;
  --color-n-5: #3f3a52;
  --color-n-6: #252134;
  --color-n-7: #15131d;
  --color-n-8: #0e0c15;
  --color-n-9: #474060;
  --color-n-10: #43435c;
  --color-n-11: #1b1b2e;
  --color-n-12: #2e2a41;
  --color-n-13: #6c7275;

  --font-sora: "Sora", sans-serif;
  --font-code: "Fira Code", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;

  --tracking-tagline: 0.15em;

  --spacing-0.25: 0.0625rem;
  --spacing-7.5: 1.875rem;
  --spacing-15: 3.75rem;

  --animate-float-in: float-in 10s ease-out forwards;

  @keyframes float-in {
    from {
      transform: translateY(2.5rem);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@layer base {
  *::selection {
    @apply bg-purple-950 text-white;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-n-8 text-n-1 pt-19 font-sans text-base lg:pt-21;
  }
}

@utility container {
  @apply mx-auto max-w-310 px-5 md:px-10 lg:px-15 xl:max-w-350;
}

@utility h1 {
  @apply text-[2.5rem] leading-13 font-semibold md:text-[2.75rem] md:leading-15 lg:text-[3.25rem] lg:leading-16.25 xl:text-[3.75rem] xl:leading-18;
}

@utility h2 {
  @apply text-[1.75rem] leading-10 md:text-[2rem] md:leading-10 lg:text-[2.5rem] lg:leading-14 xl:text-[3rem] xl:leading-tight;
}

@utility h3 {
  @apply text-[2rem] leading-normal md:text-[2.5rem];
}

@utility h4 {
  @apply text-[2rem] leading-normal;
}

@utility h5 {
  @apply text-2xl leading-normal;
}

@utility h6 {
  @apply text-lg leading-8 font-semibold;
}

@utility body-1 {
  @apply text-[0.875rem] leading-6 md:text-[1rem] md:leading-7 lg:text-[1.25rem] lg:leading-8;
}

@utility body-2 {
  @apply text-[0.875rem] leading-6 font-light md:text-base;
}

@utility caption {
  @apply text-sm;
}

@utility tagline {
  @apply font-grotesk tracking-tagline text-xs font-light uppercase;
}

@utility quote {
  @apply font-code text-lg leading-normal;
}

@utility button {
  @apply font-code cursor-pointer text-xs font-bold tracking-wider uppercase;
}

@utility bg-radial-gradient {
  background-image: radial-gradient(var(--tw-gradient-stops));
}

@utility bg-conic-gradient {
  background-image: conic-gradient(from 225deg, #ffc876, #79fff7, #9f53ff, #ff98e2, #ffc876);
}

.bg-benefit-card-1 {
  background-image: url(assets/benefits/card-1.svg);
}

.bg-benefit-card-2 {
  background-image: url(assets/benefits/card-2.svg);
}

.bg-benefit-card-3 {
  background-image: url(assets/benefits/card-3.svg);
}

.bg-benefit-card-4 {
  background-image: url(assets/benefits/card-4.svg);
}

.bg-benefit-card-5 {
  background-image: url(assets/benefits/card-5.svg);
}

.bg-benefit-card-6 {
  background-image: url(assets/benefits/card-6.svg);
}

@utility tap-highlight-color {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.transition {
  --default-transition-duration: 200ms;
  --default-transition-timing-function: linear;
}

.border {
  border-width: 0.0625rem;
}
