@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
@import "tailwindcss";

:root{
  color-scheme: dark;
}

@theme {
  --color-color-1: #AC6AFF;
  --color-color-2: #FFC876;
  --color-color-3: #FF776F;
  --color-color-4: #7ADB78;
  --color-color-5: #858DFF;
  --color-color-6: #FF98E2;
  --color-stroke-1: #26242C;
  --color-n-1: #FFFFFF;
  --color-n-2: #CAC6DD;
  --color-n-3: #ADA8C3;
  --color-n-4: #757185;
  --color-n-5: #3F3A52;
  --color-n-6: #252134;
  --color-n-7: #15131D;
  --color-n-8: #0E0C15;
  --color-n-9: #474060;
  --color-n-10: #43435C;
  --color-n-11: #1B1B2E;
  --color-n-12: #2E2A41;
  --color-n-13: #6C7275;

  --font-sora: "Sora", sans-serif;
  --font-code: "Fira Code", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;

  --tracking-tagline: .15em;

  --spacing-0.25: 0.0625rem;
  --spacing-7.5: 1.875rem;
  --spacing-15: 3.75rem;
}

@layer base{
  html{
    scroll-behavior: smooth;
  }

  body{
    @apply font-sans bg-n-8 text-n-1 text-base;
  }
}

@utility container {
  @apply max-w-310 mx-auto px-5 md:px-10 lg:px-15 xl:max-w-350;
}

@utility h1 {
  @apply font-semibold text-[2.5rem] leading-13 md:text-[2.75rem] md:leading-15 lg:text-[3.25rem] lg:leading-16.25 xl:text-[3.75rem] xl:leading-18;
}

@utility h2 {
  @apply text-[1.75rem] leading-10 md:text-[2rem] md:leading-10 lg:text-[2.5rem] lg:leading-14 xl:text-[3rem] xl:leading-tight;
}

@utility h3 {
  @apply text-[2rem] leading-normal md:text-[2.5rem];
}

@utility h4 {
  @apply text-[2rem] leading-normal;
}

@utility h5 {
  @apply text-2xl leading-normal;
}

@utility h6 {
  @apply font-semibold text-lg leading-8;
}

@utility body-1 {
  @apply text-[0.875rem] leading-6 md:text-[1rem] md:leading-7 lg:text-[1.25rem] lg:leading-8;
}

@utility body-2 {
  @apply font-light text-[0.875rem] leading-6 md:text-base;
}

@utility caption {
  @apply text-sm;
}

@utility tagline {
  @apply font-grotesk font-light text-xs tracking-tagline uppercase;
}

@utility quote {
  @apply font-code text-lg leading-normal;
}

@utility button {
  @apply font-code text-xs font-bold uppercase tracking-wider cursor-pointer;
}

@utility bg-radial-gradient {
  background-image: radial-gradient(var(--tw-gradient-stops));
}

@utility bg-conic-gradient {
  background-image: conic-gradient(from 225deg, #FFC876, #79FFF7, #9F53FF, #FF98E2, #FFC876);
}

@utility bg-benefit-card-1 {
  background-image: url(assets/benefits/card-1.svg);
}

@utility bg-benefit-card-2 {
  background-image: url(assets/benefits/card-2.svg);
}

@utility bg-benefit-card-3 {
  background-image: url(assets/benefits/card-3.svg);
}

@utility bg-benefit-card-4 {
  background-image: url(assets/benefits/card-4.svg);
}

@utility bg-benefit-card-5 {
  background-image: url(assets/benefits/card-5.svg);
}

@utility bg-benefit-card-6 {
  background-image: url(assets/benefits/card-6.svg);
}

@utility tap-highlight-color {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.transition {
  --default-transition-duration: 200ms;
  --default-transition-timing-function: linear;
}

.border {
  border-width: 0.0625rem;
}